<div id="a-propos" class="zoom-anim-dialog mfp-hide">
	<h2>À propos</h2>
	<h3>Système / Back-end</h3>
	<p>Le back-end est propulsé par les outils suivants :</p>
	<h4>Site</h4>
	<ul>
		<li>Grav</li>
		<li>Ceevee</li>
	</ul>
	<h4>HTTP</h4>
	<ul>
		<li>Apache</li>
	</ul>
	<h3>Front-End</h3>
	<p>Le front-end est propulsé par les outils suivants :</p>
	<h4>JavaScript</h4>
	<ul>
		<li>Modernizr</li>
		<li>jQuery</li>
		<li>FitText</li>
		<li>FlexSlider</li>
		<li>Waypoints</li>
	</ul>
</div>
