<div id="changelog" class="zoom-anim-dialog mfp-hide">
	<h2>Changelog</h2>
	<h3>Todo</h3>
	<ul>
		<li>Publier le code source sur GitHub</li>
		<li>Créer des fichiers propres aux liens du pied de page</li>
		<li>Mise en forme du contenu des liens du pied de page</li>
		<li>Ajouter des projets au portfolio</li>
		<li>Mettre à jour Grav</li>
	</ul>
	<h3>0.5</h3>
	<ul>
		<li>Le thème Ceevee est maintenant hérité et non modifié</li>
		<li>Diverses corrections</li>
		<li>Ajout des fichiers PDF</li>
	</ul>
	<h3>0.4</h3>
	<ul>
		<li>Intégration des pages du pied de page (<span class="file-name">a-propos.html.twig</span>, <span class="file-name">changelog.html.twig</span>, <span class="file-name">licences.html.twig</span>)</li>
	</ul>
	<h3>0.3</h3>
	<ul>
		<li>Mise en place du portfolio</li>
		<li>Ajout des images (en-tête, portfolio)</li>
	</ul>
	<h3>0.2</h3>
	<ul>
		<li>Personnalisation du thème (<span class="file-name">custom.css</span>)</li>
		<li>Supression des sections inutiles</li>
		<li>Traduction du thème en français</li>
	</ul>
	<h3>0.1</h3>
	<ul>
		<li>Installation de Grav Core et du <i>skeleton</i> Ceevee</li>
		<li>Ajout du contenu textuel</li>
	</ul>
</div>
