<div id="licences" class="zoom-anim-dialog mfp-hide">
	<h2>Licenses</h2>
	<p>Les différents modules du site sont distribués selon différentes ces licences :</p>
	<h3>Licence MIT</h3>
	<ul>
		<li>Grav</li>
		<li>jQuery</li>
		<li>Magnific Popup</li>
		<li>Waypoints</li>
	</ul>
	<h3>Creative Commons CC0</h3>
	<ul>
		<li>Photographie de l'en-tête</li>
		<li>Photographie de l'horloge (portfolio)</li>
	</ul>
	<h3>Creative Commons CC3</h3>
	<ul>
		<li>Ceevee</li>
		<li>Machouille</li>
	</ul>
	<h3>Copyright</h3>
	<ul>
		<li>FlexSlider (© 2015 WooThemes)</li>
		<li>Terres d'Asie (© 2016 Terres d'Asie)</li>
	</ul>
</div>
